body {
  font-family: 'Roboto', sans-serif;
}
#side-bar {
  height: 676px;
  font-size: 0.8em;
  color: white;
  
}
#profile-img {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 15px;
  border-radius: 100%;
  border: 1px solid white;
  padding: 3px;
}
#profile {
  margin-top: 17px;
}
#profile-name {
  display: inline;
  margin-top: 0;
  font-size: 1em;
}
#profile-class {
  font-size: 0.7em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.blue {
  background-color: rgb(28, 58, 208);
}
.list-groups p {
  color: rgba(255, 255, 255, 0.672);
  margin: 5px 0;
}
div.list-groups > p {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 12px;
}
.far {
  margin-right: 5px;
}
div>ul>li.list-group-item {
  border: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 10px !important;
}

#dashboard {
  background: #f2f3f8;
  height: 676px;
}
@media (min-width: 768px) {
#side-bar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18%;
  flex: 0 0 18%;
  max-width: 18%;
  }
#dashboard {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 82%;
  flex: 0 0 82%;
  max-width: 82%;
  }
#card-img {
  padding-top: 3px;
  width: 50px;
}
#cards {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
}
#top {
  height: 50px;
  border-bottom: 1px solid rgba(209, 209, 209, 0.426);
}
#cards {
  background : #5500ff;
  padding-top: 4px;
  padding-right: 0;
}
#cards > img {
  float: left;
  margin-right: 20px;
}
#cards > h5 {
  /* display: inline; */
  color: white;
  font-size: 1.1em;
  /* float: left; */
  margin: 0;
}
#cards > p {
  color: rgb(255, 255, 100);
  font-size: 0.75em;
  width: 80px;
  display: inline;
}
.fa-chevron-down {
  margin: 8px 15px;
}
#chevron-down {
  background-color: rgb(28, 58, 208);
  border-bottom: 1px solid rgb(209, 209, 209);
  float: right;
  color: white;
  font-size: 30px;
  margin-top: -25px;
  height: 50px;
  width: 60px;
}

#searchbox {
  width: 200px;
  margin: 0 auto;
  padding: 8px 0;
  display: inline;
}
#search {
  height: 32px;
  background: url('/img/search.png') no-repeat 10px 8px rgba(232, 232, 232, 0.823);
  border: 0;
  font: normal 13px Arial, Helvetica, Sans-serif;
  color: black;
  width: 190px;
  padding: 6px 15px 6px 35px;
  border-radius: 20px;
  -webkit-transition: all 0.7s ease 0s;
}
::placeholder {
  color: rgba(184, 184, 184, 0.823);
  font-size: 13px;
}
#profile-search-img {
  width: 40px;
  height: 35px;
  border-radius: 100%;
  margin: 5px 0 5px 19px;
}
#container {
  padding: 35px 30px 30px 15px;
}
.dash-text {
margin-bottom: -10px;
}
.dash-hr1 {
  width: 1.5%;
  height: 4px;
  display: inline;
  float: left;
  border: 1px solid rgb(28, 58, 208);
  background: rgb(28, 58, 208);
  border-radius: 30%;
}
.dash-hr2 {
  margin-top: 19px;
  width: 98%;
  display: inline-block;
  border-top: 1px solid rgba(209, 209, 209, 0.426);
}
.card-title {
  font-size: 0.7em;
  letter-spacing: 1px;
  color: rgb(181, 181, 181);
}
.card-text {
  font-size: 2em;
}
.card {
  border-color: white;
  box-shadow: 9px 9px 7px -6px rgba(85, 85, 85, 0.11);
  -webkit-box-shadow: 9px 9px 7px -6px rgba(85, 85, 85, 0.11);
  -moz-box-shadow: 9px 9px 7px -6px rgba(85, 85, 85, 0.11);
}
table {
  border-collapse: collapse;
  border-radius: 1em;
  border: 0 !important;
  color: rgba(0, 0, 0, 0.645);
}

 th.no-border {
  border: 0;
  color: rgba(0, 0, 0, 0.371);
  font-size: .8em;
  letter-spacing: 1px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 0px;
}

.tb-card {
  height: 60px;
  background: white;
  border: 10px solid #f2f3f8;
   
}


td:first-child {
  border-left-style: solid;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 22px;
  border-top-right-radius: 22px;
}
td.desc-text {
  font-size: 0.7em;
  color: #cecfd3;
  padding-top: 25px;
}
.fa-circle {
  color: rgb(84, 217, 30);
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  margin-right: -8px;
}
.trans-img {
  width: 40px;
  height: 35px;
  border-radius: 50%;
}
td.text-down {
  padding-top: 18px;
}
#br-dash-text {
  margin-top: 38px;
}